<br>
<% if (username) { %>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">MTernero 2024©</span>
        </div>
        <div class="container">
            <span class="text-muted">MTernero - Todos los derechos reservados</span>
        </div>
        <div class="container">
            <span class="text-muted">Este sitio web cumple con la normativa de protección de datos.</span>
        </div>
    </footer>

    <% } %>
        <div class="cookie-consent" id="cookieConsent">
            <p>Este sitio web utiliza cookies para mejorar su experiencia. <a href="/politica-de-cookies"
                    target="_blank">Más información</a></p>
            <button class="btn btn-primary" id="acceptCookies">Aceptar</button>
        </div>

        <script src="/js/scookies.js"></script>

        </body>

        </html>