<%- include('partes/header') %>

<main class="login-background">
  <div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="col-md-6 form-container p-4 rounded shadow-lg">
      <h2 class="text-center">Bienvenido</h2>
      <p class="text-center">Bienvenido a mi sitio web</p>

      <% if (mensaje) { %>
        <div class="alert alert-danger" role="alert">
          <%= mensaje %>
        </div>
      <% } %>

      <form class="row g-3 mt-3" action="/login" method="post">
        <div class="mb-3">
          <label for="username" class="form-label">Usuario</label>
          <input type="text" name="username" id="username" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" name="contraseña" id="password" class="form-control" required>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary mb-3">Aceptar</button>
        </div>
        <div class="text-center">
          <small class="text-muted">
            <a href="/registro">Registrate</a>
          </small>
        </div>
      </form>
    </div>
  </div>
</main>

<%- include('partes/footer') %>
