<%- include('partes/header') %>
<div class="register-container">
    <h2 class="text-center mb-4"><strong>Regístrate Ahora</strong></h2>
    <form action="/register" method="POST">
        <div class="form-floating">
            <input type="text" class="form-control" name="name" id="name" placeholder="Nombre" required>
            <label for="name">Nombre</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Apellido" required>
            <label for="apellido">Apellido</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
            <label for="username">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
            <label for="password">Password</label>
        </div>
        <div class="form-floating">
            <input type="date" class="form-control" name="fecha_nacimiento" id="fecha_nacimiento" placeholder="Fecha de Nacimiento">
            <label for="fecha_nacimiento">Fecha de Nacimiento</label>
        </div>
        <div class="form-floating">
            <input type="tel" class="form-control" name="phone" id="phone" placeholder="Teléfono">
            <label for="phone">Teléfono</label>
        </div>
<<<<<<< HEAD
=======
    <div class="form-floating">
        <select class="form-select" id="rol" name="rol" required>
            <option selected disabled value="">Selecciona un rol</option>
            <option value="profesor">Profesor</option>
            <option value="alumno">Alumno</option>
        </select>
        <label for="rol">Rol</label>
    </div>

>>>>>>> 9e904a5 (Primera Version)
        <div class="d-grid mt-4">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
    <% if (mensaje) { %>
        <p class="mt-3 text-center"><%= mensaje %></p>
    <% } %>
</div>


<%- include('partes/footer') %>